.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1{
    text-align: center;
}

header p {
    font-size: 1.3rem;
}

header p > span {
    padding: 5px;
    background-color: orange;
    color: white;
}

.userCard, .title {
    list-style: none;
    border: 1px solid black;   
    min-width: 70vw; 
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.userCard:nth-child(even) {
    background-color: #e0e0e0;
}

.name {    
    margin: 0;
    border-right: 1px solid black;
    font-size: 1.2rem;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    margin: 10px 0 10px 0;
    font-size: 1rem;
    flex: 1;    
    padding: 0 10px 0 10px;
}

.title  {
    margin-bottom: 10px;
}

.title * {    
    margin: 0;
    background-color: orange;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

footer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p, footer div {
    margin: 0 0 10px 0;
    font-size: 1.3rem;
}

input { 
    padding: 3px;
    width: 50px;
    font-size: 1.1rem;
}

input[type="text"] { 
    margin: 5px;
    width: 25px;
}